
@{
    ViewBag.Title = "Tv";
}

<h2>Tv & Film</h2>

@using Podcaster.Models
@model IEnumerable<PodcastEpisodeModel>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <br />
    <div id="startContentDiv">
        @*<div id="popularPodcastsDiv">
            <h5 id="popularRightNowHeaderText">Top 10 trending</h5>
            <ol id="ulListPopularPodcasts">
                @foreach (PodcastEpisodeModel item in Model)
            {
                    <li id="popularEpisodeLi">@item.episodeTitle</li>
                }
            </ol>
        </div>*@

        <div id="podCastImagDiv">

         
            <div class="podCastImagDiv">
                <button type="button" id="movieCrush" class="podCastButton">
                    <img alt="" class="podCastImage" src="https://s.hswstatic.com/gif/movie-crush-hero-logo.png" />
                </button>
            </div>
          

        </div>
    </div>

</body>
</html>

<script>

  
     $("#movieCrush").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "https://www.moviecrush.show/podcasts/movie-crush.rss", imgUrl = "https://s.hswstatic.com/gif/movie-crush-hero-logo.png" }))';
                });
    
</script>

