<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/17aa30f9-40bb-49f8-b742-b0ddfdf6cd32/resourcegroups/Podcaster3ResourceGroup/providers/Microsoft.Web/sites/Podcaster3</ResourceId>
    <ResourceGroup>Podcaster3ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://podcaster3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>podcaster3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Podcaster3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Podcaster3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User ID=ensallad@podcaster3dbserver;Password=Sallad123" Name="Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User Id=ensallad@podcaster3dbserver;Password=Sallad123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Podcaster.Models.DatabaseContext, Podcaster" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User ID=ensallad@podcaster3dbserver;Password=Sallad123" Name="Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User Id=ensallad@podcaster3dbserver;Password=Sallad123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Podcaster.Models.ApplicationDbContext, Podcaster" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User Id=ensallad@podcaster3dbserver;Password=Sallad123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:podcaster3dbserver.database.windows.net,1433;Initial Catalog=Podcaster3_db;User Id=ensallad@podcaster3dbserver;Password=Sallad123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>